################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Logger/bin/Debug
/Logger/obj/Debug
/LogTestProject/bin/Debug
/LogTestProject/obj/Debug
/.vs/Logger/v15/sqlite3/storage.ide
/packages
/.vs/Logger/v15
